h1 {font-size:20px ;
  text-align:start;width: 
  300px; display:inline-block}


.Horiseon-Assignment {   
background-color: cadetblue;
 font-weight:normal; position:sticky;
  height: 50px; padding:20px; margin-bottom:10px; 
  box-shadow: 5px;}

.images-SEO {
  width:300px}

  
  