
.Horiseon-Assignment {   
  background-color:rgb(63, 101, 132);
   font-weight:lighter; position:relative; width: 1243px; float: none; left: -10px;
    height: 80px; top: -10px; color: white;orientation: portrait; display: inline-block}

.Project-title{font-size:38px ; font-weight: bold; 
  text-align:left; left: 23px;;width: 
  300px; display:inline-block; position: relative; top:-20px}

.Project-subtitle-SEO {font-size:22px ;font-weight: lighter;
  text-align:start ;width: 
  300px; display:inline-block;position: relative; top:-20px}

.Project-subtitle-ORM{font-size:22px ;font-weight: lighter;
  text-align:start ;width: 
  300px; display:inline-block;position: relative; top:-20px}

.Project-subtitle-SMM{font-size:22px ;font-weight: lighter;
  text-align:start ;width: 
  300px; display:inline-block;position: relative; top:-20px}



.Digital-marketing-section {width: 1243px; top: 78px; height: 570px; float: left; left: 0px;  position: absolute; }

.Search-Engine-Optimization-section { background-color:rgb(23, 104, 185); 
    top: 520px; width: 940px; position: relative; 
    left:-52px; border: 20px; height: 100px;
     padding:40px; margin: 50px; color:white;}

.SEO-image {width:450px; height: 140px; 
  position: relative; top: -20px;  
  float: inline-start;}

.SEO-title {width: 500px; height: 200px;
  right: 120px; border: 3px;  font-size: 34px; 
  font-weight: lighter; inline-size: 400px; float:right;position:absolute; top: 10px}

.Content-of-SEO {width: 500px; height: 200px; right: 220px;  font-size: 13px; font-stretch:extra-expanded; font-weight: lighter;
   inline-size: 300px; float:right; 
   position:absolute;  top: 50px; }

.Online-Reputation-Management-section {background-color:rgb(23, 104, 185); 
  top: 98px; width: 940px; position:relative;  left: -90px; 
  border: 20px; height: 120px; padding:40px; margin: 50px; color: white;}

.ORM-image {width:450px; height: 140px; 
  position: relative; top: -20px;  
  float:inline-end;}

.ORM-title {width: 500px; height: 200px;
  left: 40px; border: 3px;  font-size: 34px; 
  font-weight: lighter; inline-size: 400px; float:left;position:absolute; top: 5px;}

.Content-of-ORM {width: 500px; height: 200px; left: 40px;  font-size: 13px; font-stretch:extra-expanded; font-weight: lighter;
  inline-size: 300px; float:left; 
  position:absolute;  top: 80px;}

.Social-Media-Marketing-section{background-color:rgb(23, 104, 185); 
  top: 100px; width: 940px; position: relative; 
  left:-90px; border: 20px; height: 100px;
   padding:40px; margin: 50px; color:white;}

.SMM-image{width:450px; height: 140px; 
  position: relative; top: -50px;  
  float: inline-start;left: -20px;}

.SMM-title{width: 500px; height: 200px;
  right: 120px; border: 3px;  font-size: 34px; 
  font-weight: lighter; inline-size: 400px; float:right;position:absolute; top: 10px}

.Content-of-SMM {width: 500px; height: 200px; right: 220px;  font-size:13px;  font-weight: lighter;
  inline-size: 300px; float:right; 
  position:absolute;  top: 50px;}  

.Drivers-of-search-engine-optimization {background-color:rgba(40, 124, 192, 0.89); bottom: 10px; padding: 2px; width: 205px; 
   height: 730px; float: inline-end; float: right; right: -218px; 
   color:white; position:absolute; top: -189px;}
    
.LG-image{width:200px; height:150px; position:absolute;
   top:20px; float: left; left: 0px;}

.LG-title{width:100px; height:80px; text-align: left; 
      left: 30px; font-size:20px; font-weight: lighter; 
      inline-size: 200px; position:absolute; top: 20px;}

.Content-of-LG{width:100px; height: 80px; text-align:left; left: 30px; 
     font-size: 15px; font-weight: lighter;
    inline-size: 180px; overflow-wrap: break-word; 
    position:absolute;  top:130px;}

.BA-image{width:200px; height:150px; position:absolute; 
  top:255px; float: left; left: 0px;}

.BA-title{width:100px; height:80px; text-align: left; 
      left: 30px; font-size:20px; font-weight: lighter;
       inline-size: 200px; position:relative;  top: 250px;}

.Content-of-BA{width:100px; height: 80px; text-align:left; left: 30px; 
         font-size: 15px; font-weight: lighter;
        inline-size: 180px; overflow-wrap: break-word; 
        position:absolute;  top:360px}

.CM-image{width:200px; height:150px; position:absolute; 
  top:480px; float: left; left: 0px;}

.CM-title{width:100px; height:100px; text-align: left; 
      left: 30px; font-size:20px; font-weight: lighter; 
       inline-size: 200px; position:relative;  top: 400px;}

.Content-of-CM{width:100px; height: 100px; text-align:left; left: 30px; 
   font-size: 15px; font-weight: lighter;
  inline-size: 180px; overflow-wrap: break-word;
  position:absolute;  top:590px}

.Developer{color:black;width:100px; font-size: 20px; font-weight:bold;
   position:relative; inline-size: 300px;  text-align:right; right: 320px; top: 450px; }
